<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>e2e</title>
  <link rel="stylesheet" href="/static/templates/login.css">
  <script src="/static/templates/newaccount.js" defer></script>
</head>
<body>
  <div class="container">
    <h1> Hi, there! Please log in or create a new account! </h1>
    <p class="subheading">
      Hello everyone
    </p>
    <div class="action">
        <form action="" id="loginForm">
            <h1>Create new account</h1>
			Note that usernames are case insensitive. <br><br>
            <input type="text" id="username" class="form-control" placeholder="Username">
            <input type="password" id="password" class="form-control" placeholder="Password">
            <button type="submit">Submit</button>
          </form>
    </div>

  </div>
</body>
</html>